.newsletter-container {
  height: 60vh;
  background-color: rgb(231, 227, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsletter-title {
  font-size: 50px;
  margin-bottom: 20px;
}

.newsletter-description {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.newsletter-input-container {
  width: 50%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.newsletter-input {
  border: none;
  flex: 8;
  padding-left: 20px;
}
